body {
    background-color: #c1aec4; /* Fondo morado*/
}
/* Estilos para los contenedores de información */
#infoContainer,  #InfoEstudiante, #stepsContainer, #fastWebContainer, #cacheContainer {
    display: none;
    margin: 30px;
    padding: 30px;
    border: 2px solid #72177e;
    background-color: #ac6db4;
    font-family: Arial, sans-serif;
    text-align: justify;
}

/* Estilos para los botones */
/* Estilos para los botones con un estilo moderno */
.button {
    background-color: #934d9c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 4px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /* Texto en negrita */
    font-size: 25px; /* Tamaño del texto */
}

#prevButton,#nextButton{
    background-color: #934d9c;
    color: #fff;
    border-color: #fff;
    padding: 10px 10px;
    border: 10%;
    cursor: pointer;
    margin: 10px;
    border-radius: 15px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /* Texto en negrita */
    font-size: 17px; /* Tamaño del texto */
}

#prevButton {
    display: block; /* Hace que los botones ocupen toda la anchura disponible */
    margin:0 auto; /* Centra horizontalmente los botones */
}

#nextButton{
    display: block;
    margin:0 auto;
}

.button:hover {
    background-color: #790d85;
}

/* Estilo adicional para botones modernos */
.button:focus {
    outline: none; /* Elimina el contorno predeterminado al hacer clic */
}

/* Estilo para botones con ícono (opcional) */
.button.icon {
    padding-left: 30px; /* Espacio para el ícono a la izquierda */
    background-position: left center; /* Posición del ícono */
    background-repeat: no-repeat; /* No repetir el ícono */
}


h1{
    font-size: 60px;
    margin-bottom: 20px;
    margin: 30px;
    padding: 30px;
    color:#fff;
    border: 2px solid #72177e;
    background-color: #c28cc9;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
}
/* Estilos para los encabezados */
h2 {
    font-size: 50px;
    margin-bottom: 10px;
    margin: 30px;
    padding: 30px;
    color:#fff;
    border: 2px solid #72177e;
    background-color: #c28cc9;
    font-family: 'Century Gothic';
    text-align: center;
}

/* Estilos para las listas */
ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

/* Estilos para los párrafos */
p {
    margin: 10px 0;
}

.carousel-container {
    width: 1500px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display:flex;
    transition: transform 1s;
}

.carousel-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

embed {
    width: 100%;
    height: 150vh;
}